menu "Board Configuration"
    choice
    prompt "Chip Family Configuration"
    default CHIP_FAMILY_SOPHGO

    config CHIP_FAMILY_QEMU
        bool "Qemu"
        help
            Support for the qemu boards.
    config CHIP_FAMILY_SOPHGO
        bool "Sophgo"
        help
            Support for the sophgo boards.

    endchoice

    if CHIP_FAMILY_SOPHGO
        source "$RV_RTT_ROOT/boards/sophgo/Kconfig"
    endif
    
    if CHIP_FAMILY_QEMU
        source "$RV_RTT_ROOT/boards/qemu/Kconfig"
    endif

endmenu


